#calculator-container {
	height: calc(100vh - 50px);
	overflow-y: scroll;
}

#attacker,
#defender {
	display: flex;
	flex-direction: column;
	margin-top: 20px;

	& > p {
		padding: 3px 0;
		border: 2px solid rosybrown;
		margin-bottom: 0;
		font-size: 12px;
		font-weight: bold;
	}

	.content {
		border: 1px solid rosybrown;
		border-top: 0;
		display: grid;
		grid-template-columns: 40% 60%;
		justify-items: center;
		align-items: center;

		.image-container {
			position: relative;
			display: block;
			align-self: center;

			img {
				align-self: center;
				display: block;
				max-width: 90%;
				max-height: 100px;
				height: auto;
			}

			.unit-count-field {
				position: absolute;
				bottom: -5px;
				right: -50px;
				width: 50px;
				color: #fff;
				text-align: center;
				background: rgb(2, 0, 36);
				background: radial-gradient(
					circle,
					rgba(2, 0, 36, 1) 0%,
					rgba(82, 82, 125, 1) 0%,
					rgba(32, 30, 69, 1) 100%
				);
			}
		}
	}

	.stats {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 10px 0;
		width: 100%;
		padding: 10px 15%;

		p {
			margin: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		.stat-bonus {
			color: lightgreen;
		}
	}

	.spells {
		display: flex;
		justify-content: center;
		border: 1px solid rosybrown;
		border-top: 1px solid rosybrown;

		.spell {
			padding: 10px;
			cursor: pointer;

			&.active img,
			&:hover img {
				filter: grayscale(0);
			}

			img {
				filter: grayscale(100%);
			}
		}
	}
}

.hero {
	display: flex;
	flex-direction: column;
	border: 1px solid rosybrown;
	border-top: 0;

	.hero-title {
		padding: 3px 0;
		border-bottom: 2px solid rosybrown;
		font-weight: bold;
		margin-bottom: 0;
		font-size: 12px;
	}

	.stats {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 5px 10px;

		& > div {
			display: flex;
			flex-direction: column;
			width: 30%;
			align-items: center;

			p {
				font-size: 12px;
			}

			img {
				height: 50px;
				max-width: 50px;
			}

			input {
				width: 50px;
				text-align: center;
				background: #594949;
				border: rosybrown;
				outline: none;
				color: #fff;
				font-weight: bold;
			}
		}

		button {
			background: linear-gradient(to right, #fcf6ba, #bf953f);
			border: none;
			padding: 0 3px;
			font-weight: bold;
		}

		p {
			margin: 0 0 5px 0;

			span {
				display: inline-block;
				width: 100px;
			}
		}

		.active-hero-specialty {
			cursor: pointer;

			img {
				height: auto;
				width: auto;
				max-width: 50px;
				max-height: 50px;
			}
		}
	}

	.skills {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 140px;
		border-top: 1px solid rosybrown;

		.skill {
			display: flex;
		}

		.skill-images {
			padding: 10px;
		}

		.skill-info {
			padding: 10px 0;
			border-left: 1px solid rosybrown;
			padding: 10px;

			p {
				text-align: left;
				margin-bottom: 0;

				&:first-of-type {
					color: rosybrown;
				}
			}
		}

		img {
			margin-right: 5px;
			width: 40px;
			filter: grayscale(100%);
			cursor: pointer;

			&.active {
				filter: grayscale(0);
			}
		}
	}

	.specialitys {
		display: flex;
		flex-direction: column;
		border-top: 1px solid rosybrown;

		.active-specialty {
			display: flex;
			cursor: pointer;
		}

		.image-container {
			border-right: 1px solid rosybrown;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			height: 80px;

			img {
				max-height: 90%;
				max-width: 90%;
			}
		}

		.content {
			padding: 10px;
			text-align: left;

			p {
				margin-bottom: 0;
				font-size: 16px;

				&:first-of-type {
					color: rosybrown;
				}
			}
		}
	}

	#speciality-container {
		position: relative;

		#speciality-drawer {
			z-index: 10;
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			right: 0;
			padding: 5px;
			background-color: #352222d1;
			overflow-y: scroll;

			p {
				margin-bottom: 10px;
			}

			.spell-specialtys {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				align-items: center;
				justify-items: center;
				margin-bottom: 10px;
				row-gap: 10px;
			}

			.skill-specialtys {
				margin-bottom: 10px;
			}

			.hero-skill-specialty,
			.hero-spell-specialty,
			.hero-unit-specialty {
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				&:hover {
					transform: scale(1.2);
				}
			}

			.hero-skill-specialty {
				width: 60px;
				margin: 0 10px;
				cursor: pointer;
			}

			.hero-spell-specialty {
				margin: 0 5px;
			}

			.unit-specialtys {
				display: grid;
				max-height: 300px;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				align-items: center;
				justify-content: center;
				justify-items: center;

				.hero-unit-specialty {
					max-height: 70px;
					padding: 5px 0;
				}
			}
		}
	}
}

#results {
	margin: 40px auto 0 auto;
	width: 80%;

	#results-damage {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	#results-bonuses {
		margin-bottom: 15px;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	h5,
	p {
		margin: 0;
		border: 1px solid rosybrown;
	}

	h5 {
		line-height: 30px;
	}
}
