#attacker, #defender {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0;

    p {
      margin: 0;
    }

    .stat-bonus {
      color: lightgreen;
    }
  }

  .spells {
    display: flex;
    justify-content: center;

    .spell {
      padding: 10px;
      cursor: pointer;

      &.active img, &:hover img {
        filter: grayscale(0);
      }

      img {
        filter: grayscale(100%);
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  border: 1px solid rosybrown;
  padding: 10px 0;

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      background: linear-gradient(to right, #FCF6BA, #BF953F);
      border: none;
      padding: 0 3px;
      font-weight: bold;
    }

    p {
      margin: 0 0 5px 0;

      span {
        display: inline-block;
        width: 100px;
      }
    }
  }
}

#results {
  display: grid;
  margin: 40px auto 0 auto;
  width: 80%;
  grid-template-rows: 1fr 1fr;

  #results-damage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  #results-bonuses {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h5, p {
    margin: 0;
    border: 1px solid rosybrown;
  }

  h5 {
    line-height: 30px;
  }
}