@import "~bootstrap/scss/bootstrap";
@import "~tippy.js/dist/tippy.css";

@import './unit-list';
@import './towns';
@import './damage-calculator';

body {
  background-color: #352222d1;
  color: #ccc;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}