#unit-list {
	p {
		margin-bottom: 0;
		font-size: 12px;
	}
}

.unit-list-item {
	border: 2px solid rosybrown;
	padding: 0;
}

.unit-list-item-header {
	padding: 3px 0;
	border-bottom: 2px solid rosybrown;
	font-weight: bold;
}

.unit-list-item-body {
	justify-content: space-evenly;

	img {
		align-self: center;
	}
}

.unit-list-item-info {
	padding: 10px 0;
	min-width: 100px;
	text-align: left;

	p span {
		float: right;	
	}
}

.unit-list-item-body {
	position: relative;
}

.unit-list-item .select-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all .5s ease-in-out;

	&:hover {
		opacity: 1;
	}

	button {
		margin-bottom: 10px;
		background:linear-gradient(to right, #FCF6BA, #BF953F);
		border: 1px solid #BF953F;
		color: #000;
		font-weight: bold;
	}
}